/* *** Add Google font *** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *** Global styling start *** */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
}

p {
	font-size: 1.8rem;
	font-weight: 400;
}

h2 {
	font-size: 4.8rem;
	font-weight: 700;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #3c354f;
}
img {
	max-width: 100%; /* Restrict image width to prevent extra space */
	height: auto; /* Maintain aspect ratio */
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.btn {
	border-radius: 48px;
	background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
	padding: 21px 40px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	border: none;
}
/* *** Global styling End *** */
/* *** Header section start *** */

.navigation {
	background: #ffffff;
	padding: 5rem 0;
}
.navigation,
.navigation .nav-items,
.navigation .nav-items .social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation {
	height: 6rem;
	justify-content: space-between;
}

.navigation .nav-items,
.navigation .nav-items .social-icons {
	gap: 2rem;
	color: #3c354f;
	font-size: 1.8rem;
	font-weight: 500;
}
.logo-title {
	font-size: 3rem;
	font-weight: 700;
	color: #0b0223;
	margin-left: 0.5rem;
}
.logo-title strong {
	color: #ff42a5;
}
.logo-image {
	width: 5rem;
}
.social-icons {
	border-radius: 0.8rem;
	padding: 1rem;
	background: rgba(11, 2, 35, 0.1);
}
.social-icons {
	border-radius: 0.8rem;
	padding: 1rem;
	background: rgba(11, 2, 35, 0.1);
}
.logo-youtube {
	color: #f61c0d;
}
/* *** Navigation section end *** */
/* *** Banner section start *** */
#banner {
	background-image: url(./images/banner-bg.png);
	background-repeat: no-repeat;
	background-size: contain;
}
#banner .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner-sub-heading {
	color: #0b0223;
	font-size: 4.5rem;
	font-weight: 600;
	text-transform: uppercase;
}
.banner-heading {
	font-size: 7.2rem;
	font-weight: 800;
	text-transform: uppercase;
	background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* !important: To make equal flex card */
.right-content {
	flex-shrink: 0; /* Prevent the image from shrinking */
	max-width: 50%; /* Limit the maximum width of the image */
}

.right-content img {
	width: 100%;
	height: auto;
}
.banner-item {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}
.banner-item-icon {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}
.banner-btn-group {
	margin-top: 4rem;
}
.btn-go {
	background: #4ec5f7;
}
.right-content img {
	margin-bottom: -0.7rem;
}
/* *** Banner section End *** */
/* *** Header section End *** */

/* *** About section Start *** */
#about {
	background: linear-gradient(
		90deg,
		rgba(255, 66, 165, 0.03) 0%,
		rgba(255, 66, 165, 0.03) 100%
	);
	height: 60rem;
	margin-bottom: 2rem;
}
#about .container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
}
.about-left {
	flex-shrink: 0; /* Prevent the image from shrinking */
	max-width: 55%; /* Limit the maximum width of the image */
}
.about-right {
	text-align: right;
}
.primary-title {
	font-size: 4.5rem;
	font-weight: 700;
	background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.body-text {
	color: #534c64;
	font-size: 1.6rem;
	font-weight: 400;
	margin: 2rem 0;
}
.about-btn {
	padding: 1.5rem 4rem;
	font-size: 1.6rem;
}
.about-purpose {
	margin-top: 2rem;
}
.about-purpose h4 {
	color: #534c64;
	font-size: 1.6rem;
	font-weight: 500;
}
blockquote {
	font-size: 2rem;
	font-weight: 500;
	font-style: italic;
}
/* *** About section End *** */
/* *** Gaming section Start *** */
#gaming {
	margin: 10rem 0;
}
.section-heading {
	text-align: center;
	margin-bottom: 4rem;
}
.primary-text {
	font-size: 3.5rem;
	line-height: 1;
}
.primary-text span {
	background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gaming-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}
.card {
	position: relative;
	display: inline-block;
}

.img-box {
	position: relative;
	overflow: hidden;
	transition: 1s opacity ease-in-out;
}

.img-box:hover::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 1.6rem;
	opacity: 0;
}

.img-box:hover::before {
	opacity: 1;
}

.play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 2;
}

.img-box:hover .play-button {
	display: block;
}
/* *** Gaming section end *** */
/* *** specialty section start *** */
.specialty-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
}
.specialty-title .colored-text {
	background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.specialty-title {
	text-align: right;
	display: flex;
	flex-direction: column;
	font-size: 4rem;
	font-weight: 700;
}
.specialty-title-two {
	text-align: left;
}
.specialty-card .body-text {
	color: #534c64;
	font-size: 1.6rem;
	font-weight: 400;
}
.left-content > .specialty-body-text {
	margin-left: 20rem;
	text-align: right;
}
.right-content .specialty-body-text {
	margin-right: 20rem;
}

.specialty-card {
	margin-bottom: 5rem;
}
/* *** specialty section End *** */
/* *** Career section start *** */
#careers {
	background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
#careers .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
	color: #ffffff;
}
#careers p,
.careers-text {
	color: #ffffff;
}

.career-item {
	display: flex;
	justify-content: space-between;
}
/* *** tags section Start *** */
/* *** tags section start *** */
#tags {
	padding: 10rem 0;
	background-color: #f1f1f1;
}
#tags .container {
	/* display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	align-items: center; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}
.tag {
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: 10rem;
	padding: 0.5rem 1rem;
	background-color: #ffffff;
	border: 2px solid transparent;
	transition: 0.3s all ease-in-out;
	cursor: pointer;
}
.tag:hover {
	background-color: #ffffff;
	border-color: #ff42a5;
}
.tag-title {
	color: #ff42a5;
}
/* *** tags section Ends *** */
/* *** Footer section start *** */
#footer {
	background: #0b0223;
	padding: 5rem 0;
}
#footer a {
	color: #ffffff;
}
.footer-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.footer-items {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	margin: 2rem 0;
}
.footer-item .footer-nav-link {
	font-weight: 500;
	transition: all 0.2s ease-in-out;
}
.footer-item:hover .footer-nav-link {
	color: #ff42a5 !important;
}

#footer .logo-title {
	color: #fff;
}

.social-links {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin: 3rem 0;
}
.social-links li {
	width: 4rem;
	height: 4rem;
	padding-top: 0.5rem;
	border-radius: 100%;
	background-color: #ff42a5;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.5s ease-in-out;
}
.social-links a {
	font-size: 2rem;
}
.social-links li:hover {
	background-color: #ffffff;
}
.social-links li:hover a ion-icon {
	color: #ff42a5;
}
.footer-items .footer-support-item a,
.copyright-text {
	color: #ffffff99 !important;
	font-size: 1.4rem;
	font-weight: 400;
}
.footer-items .footer-support-item a:hover {
	color: #ffffff !important;
}
/* *** Footer section Ends *** */
/* *** Media Query For Mobile device *** */
@media screen and (max-width: 767px) {
	.container {
		width: 400px;
	}
	.navigation {
		padding: 2rem 0;
		height: auto;
		flex-direction: column;
	}
	.navigation .nav-items {
		flex-direction: column;
		margin: 2rem 0;
	}
	#banner .container {
		flex-direction: column-reverse;
	}
	.right-content {
		max-width: 95%;
	}
	.left-content {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.banner-heading {
		line-height: 1;
		font-size: 6rem;
		font-weight: 800;
	}
	.banner-sub-heading {
		font-size: 3.5rem;
	}
	.banner-items {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.banner-btn-group {
		margin-top: 0;
		margin-bottom: 5rem;
	}
	.btn {
		border-radius: 3rem;
		padding: 1rem 2.5rem;
		font-size: 1.6rem;
		font-weight: 500;
	}
	#about .container {
		flex-direction: column;
		justify-content: center;
	}
	.about-right {
		text-align: center;
	}
	.primary-title {
		font-size: 4rem;
	}
	.body-text {
		font-size: 1.4rem;
	}
	blockquote {
		font-size: 1.6rem;
	}

	#gaming {
		margin: 5rem 0;
	}
	#gaming .primary-text {
		font-size: 2.5rem;
	}
	#gaming .body-text {
		font-size: 1.2rem;
	}
	.gaming-cards {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.card .body-text {
		font-weight: 500;
	}

	.specialty-card {
		justify-content: center;
		flex-direction: column;
	}
	.specialty-title,
	.specialty-title .specialty-title-two {
		font-size: 3.6rem;
		align-items: center;
	}
	.left-content > .specialty-body-text {
		margin-left: 0;
		text-align: center;
	}
	.specialty-card.card-two {
		flex-direction: column-reverse;
		gap: 0;
	}
	.right-content .specialty-body-text {
		margin-right: 0;
		text-align: center;
	}
	#careers .container {
		justify-content: center;
		flex-direction: column;
		gap: 3rem;
	}
	.career-item {
		font-size: 1.4rem;
		gap: 5rem;
	}
	#tags {
		padding: 5rem 0;
	}
	#tags .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.5rem;
	}
	.tag img {
		width: 40px;
	}
	.tag .tag-title {
		font-size: 1.3rem;
	}

	.tag:last-child {
		grid-column: 1 / span 2; /* Make the item span both columns */
		justify-self: center; /* Center the item horizontally */
	}

	.footer-items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		align-items: center;
	}
	.footer-support-items {
		display: inline-flex;
	}
}
